[Desktop Entry]
Type=Application
Name=Screensaver Idle Watcher
Exec=/home/dustinmartin/Projects/screensaver/bin/screensaver-idle-watch
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
